*{margin: 0; padding: 0; list-style: none;}

.clearfix:after {
	     visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
	     }
	.clearfix { display: inline-block; }
	/* start commented backslash hack \*/
	* html .clearfix { height: 1%; }
	.clearfix { display: block; }
	/* close commented backslash hack */



.slider-container{
	position: relative;
	height: 515px;
	width: 810px;
	overflow: hidden;
	
	
}
.slider-top{
	position:absolute;
	float: left;
	width: 10000px;
	height: 355px;
}
.slider-top li{
	float: left;
}
.slider-top li img{
	float: left;
	width: 530px;
	height: 355px;
}


.black-blok{
	position: relative;
	float: left;
	width:280px;
	height:355;
	background: black;
}
.yazi-kutusu{
	float: left;
	width: 265px;
	height: 355px;
	position: absolute;
	padding: top:25;
	left: 20px;
	
	
}
.baslik{
	float: left;
	width: 240px;
	height: 115;
	padding-top: 18;
	font-size: 24px;
	color: white;
	
	

}
.alan{
	float: left;
	font-size: 12px;
	opacity: 0.7;
	color: white;
	padding-top: 12px;
	

}
.haber{
	float: left;
	
	width: 240px;
	height: 355px;
	margin-top: 10px;
	font-size: 16px;
	color: white;


}
.date{
	margin-left: 7px;
}


.slider-bottom{
	position: relative;
	left:0;
	top: 355;
	width: 10000px;
	height: 160px;	
}
.slider-bottom li{
	float: left;
}
.slider-bottom li img{
	position: relative;
	float: left;
	height: 100%;
	width: 200px;
	padding-top: 4px;
	padding-left: 4px;
}
.slider-bottom-sub{
	position: absolute;
}
.slider-pic{
	position: relative;
	float: left;
	height: 100%;
	width: 200px;
	padding-right: 4px;
}
.slider-pic:hover .mini-baslik{
	background: white;
	color: black;
	opacity: 0.8;
}


.mini-baslik{
	position: absolute;
	left: 0px;
	width: 198px;
	height: 33%;
	margin-top: 106px;
	margin-left: 4px;
	padding-left: 1px;
	opacity: 0.8;
	background: black;
	color: white;
	font-size: 13.5px;
	z-index: 3;

}

.mini-baslik:hover{
	background: white;
	color: black;
	opacity: 0.8;
}
.mini-baslik h4{
	margin: 5px 0px 0px 10px;
}





.kaydirma-oku{
	width: 60px;
	height: 200px;
	
	padding-left: 4px;
	position: absolute;
	z-index:4;
	
	left: 4px;
}


.kaydirma-oku:hover{

	background: white;
	opacity: 0.4;
}

.ok{
	font-size: 50px;
	color: white;
	position: absolute;
	margin-top: 40;
	left: 15px;

}
.kaydirma-oku-iki{
	width: 60px;
	height: 200px;
	
	padding-right: 4px;
	position: absolute;
	z-index: 4;
	left: 752px;

}
.kaydirma-oku-iki:hover{

	background: white;
	opacity: 0.4;
}
.ok-iki{
	font-size: 50px;
	color: white;
	position: absolute;
	margin-top: 40px;
	left: 775px;
}
