*{margin: 0; padding: 0; list-style: none;}
.clearfix:after {
	     visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
	     }
	.clearfix { display: inline-block; }
	/* start commented backslash hack \*/
	* html .clearfix { height: 1%; }
	.clearfix { display: block; }
	/* close commented backslash hack */


	.ana-ekran{
		position: relative;
		float: left;
		width: 800;
		height: 600;
		overflow: hidden;
	}
	.ust-ekran{
		float: left;
		position: absolute;
		width: 15000;
		height: 400;
		
        
	}
	.ust-ekran-sol{
		float: left;
		background-color: black;
	}
	.ust-ekran-sag{
		float: left;

	}
	.ust-ekran img{
	float:left;
	
	width: 550;
	height: 100%;
	}
	.alt-ekran{
		position: absolute;
		width: 10000;
		height: 200;
		float: left;
		top:400;
	}
	.alt-ekran img{
	float: left;
	width: 200;
	height: 100%;
	padding-top: 4px;
	padding-left: 4px;
	z-index: 1;
	}
	.ust-ekran-sol{
	 float: left;
	 width: 250;
	 height: 400;
	}

.manset-listesi li {
	float: left;
}
body{
	color: white;
	/*font-size: 12;*/
}
a{
	font-size: 10;
}
p{
	font-size: 14;
}
.alt-konteynir{
	float:left;
	width: 200;
	height:204;

}
.alt-menu{
  
   left:80;
	width: 200;
	background-color: black;
	color: white;
	opacity: 0.8;
	height: 80;
	z-index: 2;
	padding-top: 4px;
	padding-left: 4px;
	
}
.alt-menu:hover{
background-color: white;
color: black;
opacity:0.8;
}